{% extends 'main.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="col-6 mt-4 m-auto">
    <form name="createVaga" id="createVaga" method="post" action="/lista_vagas/">
        {% csrf_token %}
        <input class="form-control mt-4" type="text" name="nameJob" id="nameJob" placeholder="Nome da vaga de emprego:" value="{{ createVagaForm }}">
        <br>
        <br>
        <select id=cbFaixaSalarial name="cbFaixaSalarial">
            {%for cbFaixaSalarial in FAIXA_SALARIAL_CHOICE %}
                <option value = "{{ createFaixaSalarialChoice }}">{{ createFaixaSalarialChoice }}</option>
            {%endfor%}
        </select>
        <br>
        <br>
        <input class="btn btn-success mt-4" type="submit" value="Cadastrar">
    </form>
</div>

{% endblock %}

