{% extends 'main.html' %}

{% block content %}


<form name="form-users" id="formUsers" method="post" action="/store/">
    <div class="col-6 mt-4 m-auto">

        {% csrf_token %}
        <input class="form-control mt-4" type="text" name="nameJob" id="nameJob" placeholder="Nome da vaga de emprego:">
        <br>
        <select id=cbFaixaSalarial>
        <option>R$1.000</option>
        <option>R$1.000 a R$2.000</option>
        <option>R$2.000 a R$3.000</option>
        <option>Acima de R$3.000</option>
        </select>
        <br>
        <br>
        <select id="cbEscolaridade">
        <option>Ensino fundamental</option>
        <option>Ensino médio</option>
        <option>Tecnólogo</option>
        <option>Ensino Superior</option>
        <option>Pós/MBA/Mestrado</option>
        <option>Doutorado</option>
        </select>
        <br>
        <input class="btn btn-primary mt-4" type="submit" value="Cadastrar">
    </div>
</form>

{% endblock %}