{% extends 'main.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="col-6 mt-4 m-auto">
    <div id="result"></div>
    <form name="createVaga" id="createVaga" method="post" action="{% if vagas %}/update/{{vagas.id}}/{%else%}/createVaga/{% endif %}">
        {% csrf_token %}
        <input class="form-control mt-4" type="text" name="nameJob" id="nameJob" placeholder="Nome da vaga de emprego:" value="{{ createVagaForm }}">
        <br>
        <br>
        <select name="cbFaixaSalarial">
            <option value="faixa1">R$1.000</option>
            <option value="faixa2">R$1.000 a R$2.000</option>
            <option value="faixa3">R$2.000 a R$3.000</option>
            <option value="faixa4">Acima de R$3.000</option>
        </select>
        <br>
        <br>
        <select name="cbEscolaridade">
            <option value="faixa5">Ensino fundamental</option>
            <option value="faixa6">Ensino médio</option>
            <option value="faixa7">Tecnólogo</option>
            <option value="faixa8">Ensino Superior</option>
            <option value="faixa9">Pós/MBA/Mestrado</option>
            <option value="faixa10">Doutorado</option>
        </select>
        <br>
        <br>
        <input class="btn btn-success mt-4" type="submit" value="Cadastrar">
    </form>
</div>

{% endblock %}

